{% extends 'base.html.twig' %}

{% block title %}Banger Builds : Home{% endblock %}

{% block meta_description %}
    Welcome to Banger Builds stranger, stay a while, and buy something, won't you ?
    Banger Builds - Home sweet home.
{% endblock %}

{% block body %}
<main class="altMain">
    <div class="banner">
        <h1 class="mainTitle">Welcome to BANGER BUILDS</h1>
        <p class="quote">
            "We sell PCs, and PC parts."
        </p>
        <b class="citation">- John Banger, CEO</b>
    </div>
    
    <div class="carouselContainer">
        <!-- Slider main container -->
        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <figure class="carouselItem">
                        <img src="{{ asset('images/promo1.png') }}" alt="Promo banner 1">
                    </figure>
                </div>
                
                <div class="swiper-slide">
                    <figure class="carouselItem">
                        <img src="{{ asset('images/promo2.png') }}" alt="Promo banner 2">
                    </figure>
                </div>
                    
                {# <div class="swiper-slide">
                    <figure class="carouselItem">
                        <img src="" alt="Promo banner 3">
                    </figure>
                </div> #}
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
        
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>

    <section class="homepageSection">
        <h2 class="sectionTitle">
            Popular categories
        </h2>

        <div class="homepageRow">
            <a href="{{ path('app_product', {'categoryId': popularCategories.categ1.id}) }}">
                <div class="homeCard">
                    <figure class="homeCardImg">
                        <img src="{{ asset('images/icons/' ~ popularCategories.categ1.image) }}" alt="card image">
                    </figure>
                    <div class="homeCardDesc">
                        <div class="homeCardLabel">
                            {% if popularCategories.categ1.name == "Headphones" or popularCategories.categ1.name == "Memory" %}  

                                {{ popularCategories.categ1.name }}

                            {% elseif popularCategories.categ1.name == "Power supply" %}      

                                Power supplies

                            {% elseif popularCategories.categ1.name == "Uninterruptible Power Supply" %} 

                                Uninteruptible Power Supplies

                            {% else %}

                                {{ popularCategories.categ1.name }}s
                                
                            {% endif %}
                        </div>
                        
                    </div>
                </div>
            </a>

            <a href="{{ path('app_product', {'categoryId': popularCategories.categ2.id}) }}">
                <div class="homeCard">
                    <figure class="homeCardImg">
                        <img src="{{ asset('images/icons/' ~ popularCategories.categ2.image) }}" alt="card image">
                    </figure>
                    <div class="homeCardDesc">
                        <div class="homeCardLabel">
                            {% if popularCategories.categ2.name == "Headphones" or popularCategories.categ2.name == "Memory" %}  

                                {{ popularCategories.categ2.name }}

                            {% elseif popularCategories.categ2.name == "Power supply" %}      

                                Power supplies

                            {% elseif popularCategories.categ2.name == "Uninterruptible Power Supply" %} 

                                Uninteruptible Power Supplies

                            {% else %}

                                {{ popularCategories.categ2.name }}s
                                
                            {% endif %}
                        </div>
                        
                    </div>
                </div>
            </a>

            <a href="{{ path('app_product', {'categoryId': popularCategories.categ3.id}) }}">
                <div class="homeCard">
                    <figure class="homeCardImg">
                        <img src="{{ asset('images/icons/' ~ popularCategories.categ3.image) }}" alt="card image">
                    </figure>
                    <div class="homeCardDesc">
                        <div class="homeCardLabel">
                            {% if popularCategories.categ3.name == "Headphones" or popularCategories.categ3.name == "Memory" %}  

                                {{ popularCategories.categ3.name }}

                            {% elseif popularCategories.categ3.name == "Power supply" %}      

                                Power supplies

                            {% elseif popularCategories.categ3.name == "Uninterruptible Power Supply" %} 

                                Uninteruptible Power Supplies

                            {% else %}

                                {{ popularCategories.categ3.name }}s
                                
                            {% endif %}
                        </div>
                        
                    </div>
                </div>
            </a>

            <a href="{{ path('app_product', {'categoryId': popularCategories.categ4.id}) }}">
                <div class="homeCard">
                    <figure class="homeCardImg">
                        <img src="{{ asset('images/icons/' ~ popularCategories.categ4.image) }}" alt="card image">
                    </figure>
                    <div class="homeCardDesc">
                        <div class="homeCardLabel">
                            {% if popularCategories.categ4.name == "Headphones" or popularCategories.categ4.name == "Memory" %}  

                                {{ popularCategories.categ4.name }}

                            {% elseif popularCategories.categ4.name == "Power supply" %}      

                                Power supplies

                            {% elseif popularCategories.categ4.name == "Uninterruptible Power Supply" %} 

                                Uninteruptible Power Supplies

                            {% else %}

                                {{ popularCategories.categ4.name }}s
                                
                            {% endif %}
                        </div>
                        
                    </div>
                </div>
            </a>
            
        </div>
    </section>

    <section class="homepageSection">
        <h2 class="sectionTitle">
            Popular products
        </h2>

        <div class="homepageRow">
            {% for entry in trendingProducts %}
            {% set product = entry[0] %}
            {% set avgScore = entry['avgScore'] %}

                <a href="{{ path('show_product', {'productId': product.id}) }}">
                    <div class="rowCard">
                        <figure class="homeCardImg">
                            <img src="{{ asset('images/product_images/' ~ product.images.img1) }}" alt="card image">
                        </figure>
                        <div class="homeCardDesc">
                            <div class="homeCardLabel">
                                {{ product.label }}
                                
                            </div>

                            <div class="homeCardPrice">
                                {{ product.price }}$
                            </div>
                        </div>
                    </div>
                </a>

            {% endfor %}
        </div>
        
    </section>
</main>
{% endblock %}
