{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
<main>
    <h1>COMPONENTS & ACCESSORIES</h1>
    <ul>
        {% for category in categories %}
            <li>
                {% if category.name == "Headphones" or category.name == "Memory" %}
                    <a href="{{ path('app_product', {'categoryId': category.id}) }}">{{ category.name }}</a>
                {% elseif category.name == "Power supply" %}
                    <a href="{{ path('app_product', {'categoryId': category.id}) }}">Power supplies</a>
                {% elseif category.name == "Uninterruptible Power Supply" %}
                    <a href="{{ path('app_product', {'categoryId': category.id}) }}">Uninteruptible Power Supplies</a>
                {% else %}
                    <a href="{{ path('app_product', {'categoryId': category.id}) }}">{{ category.name }}s</a>
                {% endif %}
                
            </li>
        {% endfor %}
    </ul>
</main>
{% endblock %}
