{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block meta_description %}
    These are all the product categories we got. This should cover just about anything you could need to put in a PC.
    Banger Builds - We got PC parts !
{% endblock %}

{% block body %}
<main>

    <ul class="breadcrumb">
        <li><a href="{{ path('app_home') }}">Home</a></li>
        <li>Categories</li>
    </ul>

    <h1 class="mainTitle">Components & Accessories</h1>
    

    <ul class="cardList">
        {% for category in categories %}
            <li>
                <a href="{{ path('app_product', {'categoryId': category.id}) }}">
                    <div class="card">
                        <figure class="cardImg">
                            <img src="{{ asset('images/icons/' ~ category.image) }}" alt="{{category.name}} image">
                        </figure>

                        <div class="cardTitle">
                            {% if category.name == "Headphones" or category.name == "Memory" %}  

                                {{ category.name }}

                            {% elseif category.name == "Power supply" %}      

                                Power supplies

                            {% elseif category.name == "Uninterruptible Power Supply" %} 

                                Uninteruptible Power Supplies

                            {% else %}

                                {{ category.name }}s
                                
                            {% endif %}
                        </div>
                    </div>
                </a>
            </li>
        {% endfor %}
    </ul>
</main>
{% endblock %}
