<nav>
    <div id="navTitle">
        <a href="{{ path('app_home') }}">
            {# <img id="navLogo" src="{{ asset('images/BANGER.png') }}" alt="website logo"> #}
            <span id="titleText">
                <div>BANGER</div>
                <div>BUILDS</div>
            </span>
        </a>
    </div>

    <div id="sideMenu">
        {% if app.user %}
            <a href="{{ path('app_logout') }}" class="menuItem" title="logout">
                <i class="fa-solid fa-right-from-bracket"></i>
            </a>

            <a href="{{ path('app_user') }}" class="menuItem">
                <i class="fa-solid fa-user" title="profile"></i>
            </a>
        {% else %}
            <a href="{{ path('app_login') }}" class="menuItem" title="login">
                <i class="fa-solid fa-right-to-bracket"></i>
            </a>

            <a href="{{ path('app_register') }}" class="menuItem" title="register">
                <i class="fa-solid fa-user-plus"></i>
            </a>
        {% endif %}
        
        <a href="{{ path('show_cart') }}" class="menuItem" id="cart">
            <i class="fa-solid fa-cart-shopping"></i>
            <div id="cartCounter">
                {{ app.session.get('cart')|length }}
            </div>
        </a>
    </div>

    <button id="burger" aria-label="burger menu button">
        <i id="menuIcon" class="fa-solid fa-bars"></i>
        <i id="closeIcon" class="fa-solid fa-xmark"></i>
    </button>

    <ul id="menu" class="hideMenu">

        <li>
            <a href="{{ path('app_category') }}" class="menuItem"><i class="fa-solid fa-microchip"></i> COMPONENTS & ACCESSORIES</a>
        </li>                
        <li>
            <a href="{{ path('new_build') }}" class="menuItem"><i class="fa-solid fa-screwdriver-wrench"></i> PC BUILDER</a>
        </li>
        <li>
            <a href="{{ path('app_prebuilts') }}" class="menuItem"><i class="fa-solid fa-computer"></i> PREBUILTS</a>
        </li>
        <li>
            <a href="" class="menuItem"><i class="fa-solid fa-toolbox"></i> SERVICES</a>
        </li>
        <li>
            <a href="" class="menuItem">NEED HELP ?</a>
        </li>
        {% if is_granted('ROLE_ADMIN') %}
        <li>
            <a href="{{ path('control_product') }}" class="menuItem">ADMIN PANEL</a>
        </li>
        {% endif %}
    </ul>
    
    <div id="searchContainer">
        <input type="text" placeholder="Search for a product" id="searchbar"></input>
        <a id="searchButton" href="" aria-label="search"><i class="fa-solid fa-magnifying-glass"></i></a>
        <ul id="suggestionList"></ul>
    </div>
</nav>