{% extends 'base.html.twig' %}

{% block title %}Product control{% endblock %}

{% block meta_description %}
    The control room, where all the admin stuff gets done. If you're not an admin, get out before you see something you're not supposed to.
    Banger Builds - Admins control everything.
{% endblock %}

{% block body %}
<main>
    <h1 class="mainTitle">Administrator control panel</h1>

    <h2>Add a new product to the database</h2>
    <div class="optContainer">
        <a href="{{ path('new_product') }}">
            <button class="btn"><i class="fa-solid fa-microchip"></i> Add new individual product</button>
        </a>

        <a href="{{ path('new_build') }}">
            <button class="btn"><i class="fa-solid fa-computer"></i> Add new prebuilt PC</button>
        </a>
    </div>

    <h2>Mass-process product Json data</h2>

    <div class="tableContainer">
        <table>
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Operation</th>
                    <th>Product count</th>
                </tr>
            </thead>
            {% for category in categories %}
            <tbody>
                <tr>
                    <td>{{category.name}}</td>
                    <td>
                        <a href="{{ path('process_json', {'id': category.id}) }}">
                            <button class="btn">Process data</button>
                        </a>
                        {% if category.name == "Video card" %}
                            <a href="{{ path('fix_gpus', {'id': category.id}) }}">
                                <button class="btn">Fix gpu names</button>
                            </a>
                        {% endif %}
                    </td>
                    <td>{{ category.nbProducts }}</td>
                </tr>
            </tbody>
            {% endfor %}
            <tfoot>
                <tr>
                    <td colspan="2">Total number of products :</td>
                    <td>{{ products|length }}</td>
                </tr>
            </tfoot>
        </table>
    </div>

    <a href="{{ path('add_placeholders') }}">
        <button class="btn">Add placeholder descriptions</button>
    </a>
    
</main>
{% endblock %}