{% extends 'base.html.twig' %}

{% block title %}List of products{% endblock %}

{% block body %}
<main>
    {% if category.name == "Headphones" or category.name == "Memory" %}
        <h1>{{ category.name }}</h1>
    {% elseif category.name == "Power supply" %}
        <h1>Power supplies</h1>
    {% elseif category.name == "Uninterruptible Power Supply" %}
        <h1>Uninteruptible Power Supplies</h1>
    {% else %}
        <h1>{{ category.name }}s</h1>
    {% endif %}

    <ul class="itemList">
        {% for product in products %}
            <li class="listItem">
                <a href="{{ path('show_product', {'categoryId': category.id, 'productId': product.id}) }}" class="mainItem btn">{{ product.label }}</a>

                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('edit_product', {'id': product.id}) }}" class="mainItem btn"><i class="fa-solid fa-pen-to-square"></i></a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</main>
{% endblock %}
