{% extends 'base.html.twig' %}

{% block title %}List of services{% endblock %}

{% block body %}
<main class="altMain">

    <div class="titleContainer">
        <h1 class="mainTitle">
            Our services
        </h1>
    </div>
    

    <ul class="cardList">

        {% for product in services|sort((b, a) => a.globalRating <=> b.globalRating) %}
            <li>
                <a href="{{ path('show_product', {'productId': product.id}) }}">
                    <div class="cardLarge">

                        <figure class="cardImgLarge">
                            <img src="" alt="{{product.label}} image">
                        </figure>

                        <div class="cardDescription">

                            <div class="cardLabel">
                                {{ product.label }}
                                
                            </div>

                            <div class="cardPricetag">
                                {{ product.price }}$
                            </div>
                            
                        </div>
                        
                    </div>
                </a>
            </li>
        {% endfor %}
    </ul>

    <div class="paginationContainer">
        {{ knp_pagination_render(services) }}
    </div>
</main>
{% endblock %}
