{% extends 'base.html.twig' %}

{% block title %}List of products{% endblock %}

{% block body %}
<main>
    <h1 class="mainTitle">
        {% if category.name == "Headphones" or category.name == "Memory" %}
            {{ category.name }}
        {% elseif category.name == "Power supply" %}
            Power supplies
        {% elseif category.name == "Uninterruptible Power Supply" %}
            Uninteruptible Power Supplies
        {% else %}
            {{ category.name }}s
        {% endif %}
    </h1>

    <ul class="cardList">

        {% for product in products %}
            <li>
                <a href="{{ path('show_product', {'productId': product.id}) }}">
                    <div class="cardLarge">

                        <figure class="cardImgLarge">
                            <img src="" alt="{{product.label}} image">
                        </figure>

                        <div class="cardDescription">

                            <div class="cardLabel">
                                {{ product.label }}
                                
                            </div>

                            <div class="cardPricetag">
                                {{ product.price }}$
                            </div>
                            
                        </div>
                        
                    </div>
                </a>
            </li>
        {% endfor %}
    </ul>
</main>
{% endblock %}
