{% extends 'base.html.twig' %}

{% block title %}List of products{% endblock %}

{% block body %}
<main>
    <h1 class="mainTitle">
        {% if category.name == "Headphones" or category.name == "Memory" %}
            {{ category.name }}
        {% elseif category.name == "Power supply" %}
            Power supplies
        {% elseif category.name == "Uninterruptible Power Supply" %}
            Uninteruptible Power Supplies
        {% else %}
            {{ category.name }}s
        {% endif %}
    </h1>


    <div class="filterFormContainer">
        {{ form_start(formFilters) }}
            {{ form_row(formFilters.orderBy) }}
            <div class="filterSide">
                {{ form_row(formFilters.filterByBrand) }}
            </div>
        {{ form_end(formFilters) }}
    </div>

    <table class="productTable">
        <tbody>
            {% for product in products|sort((b, a) => a.globalRating <=> b.globalRating) %}
                <a href="{{ path('show_product', {'productId': product.id}) }}">
                    <tr>
                        <td>
                            <figure class="productImg">
                                <img src="" alt="{{product.label}} image">
                            </figure>
                        </td>
                        
                        <td class="productLabel">
                            {{ product.label }}
                        </td>

                        <td class="productPrice">
                            {{ product.price }}$
                        </td>
                    </tr>
                </a>
            {% endfor %}
        </tbody>
    </table>

    <div class="paginationContainer">
        {{ knp_pagination_render(products) }}
    </div>
</main>
{% endblock %}
