{% extends 'base.html.twig' %}

{% block title %}Add new product{% endblock %}

{% block body %}
<main>
    <a href="{{ path('control_product') }}" class="returnBtn btn">
        <i class="fa-solid fa-arrow-left"></i> Cancel product creation
    </a>

    <div class="formContainer" style="margin-top: 50px;">

        {{ form_start(formAddProduct) }}
            {{ form_row(formAddProduct.label) }}
            {{ form_row(formAddProduct.price) }}
            {# {{ form_row(formAddProduct.specs) }} #}
            {{ form_row(formAddProduct.category) }}
            {{ form_row(formAddProduct.image) }}
        {{ form_end(formAddProduct) }}
    </div> 
    
</main>
{% endblock %}