{% extends 'base.html.twig' %}

{% block title %}Product detail{% endblock %}

{% block body %}
<main>
    <div class="productContainer">
        <div class="productHeader">
            <h3>{{ product.category.name }} > {{ product.label }}</h3>
            <h1 class="productTitle">{{ product.label }}</h1>
        </div>
        
        <section class="productMain">
            <div class="productDisplay">
                <figure>
                    <img src="" alt="Picture of the product">
                </figure>
            </div>
            
            <div class="productInfo">
                <ul>
                    <li>
                        <b>Price : </b>{{ product.price }} $
                    </li>
                
                    <li>
                        <b>Availability : </b>
                        {% if product.inStock == true %}
                            In stock
                        {% else %}
                            Out of stock
                            {% if product.restockDelay %}
                                <p>Restocking in approximatively : {{ product.restockDelay }} days</p>
                            {% endif %}
                        {% endif %}
                    </li>


                </ul>

                <a href="{{ path('add_item', {'productId': product.id}) }}" class= "addToCartBtn btn">
                    <i class="fa-solid fa-arrow-right"></i>
                    <i class="fa-solid fa-cart-shopping"></i>
                    <br>
                    Add to cart
                </a>
                
            </div>
        </section>

        <section class="productDesc">
            <p>
                {{ product.description }}
            </p>
        </section>
    </div>
</main>
{% endblock %}