{% extends 'base.html.twig' %}

{% block title %}Product detail{% endblock %}

{% block meta_description %}
    All the info you need to know about this wonderful {{product.label}}. You want to add it to your cart don't you ? 
    Banger Builds - We got the best {{product.label}} on the web.
{% endblock %}

{% block body %}
<main>
    <ul class="breadcrumb">
        <li><a href="{{ path('app_home') }}">Home</a></li>
        <li><a href="{{ path('app_category') }}">Categories</a></li>
        <li>
            <a href="{{ path('app_product', {'categoryId': product.category.id}) }}">
                {% if product.category.name == "Headphones" or product.category.name == "Memory" %}
                    {{ product.category.name }}
                {% elseif product.category.name == "Power supply" %}
                    Power supplies
                {% elseif product.category.name == "Uninterruptible Power Supply" %}
                    Uninteruptible Power Supplies
                {% else %}
                    {{ product.category.name }}s
                {% endif %}
            </a>
        </li>
        <li><strong>{{ product.label }}</strong></li>
    </ul>

    <div class="productContainer">
        
        <section class="productMain">
            <div class="productGallery">
                <div class="galleryMenu">
                    <figure class="thumbnail">
                        <img src="{{ asset('images/product_images/' ~ product.images.img1) }}" 
                        alt="Front view of the {{ product.category.name }} model : {{ product.label }} ">
                    </figure>

                    <figure class="thumbnail">
                        <img src="{{ asset('images/product_images/' ~ product.images.img2) }}" alt="Picture of the product">
                    </figure>

                    <figure class="thumbnail">
                        <img src="{{ asset('images/product_images/' ~ product.images.img3) }}" alt="Picture of the product">
                    </figure>
                </div>

                <figure class="mainImg">
                    <img src="{{ asset('images/product_images/' ~ product.images.img1) }}" alt="Picture of the product">
                </figure>
            </div>
            
            <div class="productInfo">
                <div class="productHeader">
                    <h1 class="productTitle">{{ product.label }}</h1>
        
                    {% if is_granted('ROLE_ADMIN') %}
                        <div class="crudOptions">
                            <a href="{{ path('edit_product', {'id': product.id}) }}" class="btn editBtn"><i class="fa-solid fa-pen-to-square"></i></a>
                            <a href="{{ path('delete_product', {'id': product.id}) }}" class="btn deleteBtn"><i class="fa-solid fa-trash"></i></a>
                        </div>
                    {% endif %}
                </div>

                <div class="infoList">
                    <div class="productRating">
                        <b>Rating : </b>
                        <a href="#reviewSection">
                        <div id="rating-{{ product.id }}" class="productStars"> 
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <div class="globalRating hidden">{{ product.globalRating }}</div>
                        </div>
                        </a>
                    </div>

                    <div>
                        <b>Price : </b>{{ product.price }} $
                    </div>
                
                    <div>
                        <b>Availability : </b>
                        {% if product.inStock == true %}
                            In stock
                        {% else %}
                            Out of stock
                            {% if product.restockDelay %}
                                <p>Restocking in approximatively : {{ product.restockDelay }} days</p>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>

                <a href="{{ path('addProduct_ToCart', {'productId': product.id}) }}" class= "addToCartBtn btn">
                    <span>
                        <i class="fa-solid fa-arrow-right"></i>
                        <i class="fa-solid fa-cart-shopping"></i>    
                    </span>
                    
                    <span>Add to cart</span>
                </a>
                
            </div>
        </section>

        <section class="productDesc">
            <h2 class="subTitle">Description</h2>
            <p class="description">
                {{ product.description }}
            </p>
            
            <div class="productSpecs">
                <h2 class="subTitle">Specifications</h2>
                <table class="specs">
                    <tbody>
                        {% for key, spec in specs %}
                            <tr>
                                <td>{{ key }} :</td>
                                <td>
                                    {% if spec is iterable %}
                                        <ul>
                                        {% for item in spec %}
                                            <li>{{ item }}</li>
                                        {% endfor %}
                                        </ul>
                                    {% else %}
                                        {{ spec }}
                                    {% endif %}
                                    
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>

        <section class="productReviews" id="reviewSection">
            <div class="reviewsHeader">
                <h2 class="subTitle">User reviews</h2>

                <a href="{{ path('new_review', {'productId': product.id}) }}" class="neutralBtn btn">
                    Review this product
                </a>
            </div>
            
            {% for review in product.reviews %}
                <div class="review">
                    <h3>{{ review.title }}</h3>
                    <div class="reviewStars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>

                    <div class="reviewRating hidden">
                        {{ review.rating }}
                    </div>
                    <p>
                        {{ review.content }}
                    </p>

                    <div class="reviewFooter">
                        <span>By : <b>{{ review.author }}</b></span>
                        {% if review.author == app.user %}
                            <div class="crudOptions">
                                <a href="{{ path('edit_review', {'productId': product.id,'id': review.id}) }}" class="editBtn btn"><i class="fa-solid fa-pen-to-square"></i></a> 
                                <a href="{{ path('delete_review', {'id': review.id}) }}" class="btn deleteBtn"><i class="fa-solid fa-trash"></i></a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </section>
            
    </div>
</main>
{% endblock %}