{% extends 'base.html.twig' %}

{% block title %}Product detail{% endblock %}

{% block body %}
<main>
    <div class="productContainer">
        <div class="productHeader">
            <h3>{{ product.category.name }} > {{ product.label }}</h3>
            <h1 class="productTitle">{{ product.label }}</h1>
        </div>
        
        <div class="productMain">
            <div class="productDisplay">
                <figure>
                    <img src="" alt="Picture of the product">
                </figure>
            </div>
            
            <div class="productInfo">
                <p>
                    <b>Price : </b>{{ product.price }} $
                </p>
                <p>
                    <b>Availability : </b>
                    {% if product.inStock == true %}
                        In stock
                    {% else %}
                        Out of stock
                        {% if product.restockDelay %}
                            <p>Restocking in approximatively : {{ product.restockDelay }} days</p>
                        {% endif %}
                    {% endif %}
                </p>
                <a href="{{ path('add_item', {'productId': product.id}) }}" class="addToCart">
                    <button>Add to cart</button>
                </a>
                
            </div>
        </div>
    </div>
</main>
{% endblock %}