{% extends 'base.html.twig' %}

{% block title %}Search results{% endblock %}

{% block meta_description %}
    These are the results of your search query. Not what you were looking for ? Search better next time.
    Banger Builds - We have a functionning searchbar.
{% endblock %}

{% block body %}
<main>
    <h1 class="mainTitle">
        Results for : "{{ query }}"
    </h1>

    <ul class="cardList">

        {% for product in results|sort((b, a) => a.globalRating <=> b.globalRating) %}
            <li>
                <a href="{{ path('show_product', {'productId': product.id}) }}">
                    <div class="cardLarge">

                        <figure class="cardImgLarge">
                            <img src="{{ asset('images/product_images/' ~ product.images.img1) }}" alt="{{product.label}} image">
                        </figure>

                        <div class="cardDescription">

                            <div class="cardLabel">
                                {{ product.label }}
                                
                            </div>

                            <div class="cardPricetag">
                                {{ product.price }}$
                            </div>
                            
                        </div>
                        
                    </div>
                </a>
            </li>
        {% endfor %}
    </ul>

    <div class="paginationContainer">
        {{ knp_pagination_render(results) }}
    </div>
</main>
{% endblock %}