<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
            <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        {% endblock %}
        
    </head>

    <body>
        <header>
            {% block nav %}
                {{ render(controller('App\\Controller\\NavbarController::renderNavbar')) }}
            {% endblock %}
        </header>

        <div class="flashes">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="{{label}}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>

        {% block body %}{% endblock %}

        <footer>
            <div id="footer1">
                <h2>CONTACT</h2>
                <p>
                    <a href="">bangerbuilds@contact.com</a>
                </p>

                <p>
                    06 83 00 69 42
                </p>  
            </div>

            <div class="footer1">
                <h2>CREDITS</h2>
                <p>
                    Illustrations by : <a href="https://www.irasutoya.com/">irasutoya</a>
                </p>
            </div>

            <div id="footer2">
            <p>
                <a href="">Frequently asked questions</a>
            </p>
            <p>
                <a href="">Privacy policy</a>
            </p>
            </div>

            <div id="footer3">
                <h2>FOLLOW US</h2>

                <p>
                    <span id="insta" class="socialIcon">
                        <a href="" aria-label="instagram"><i class="fa-brands fa-instagram"></i></a>
                    </span>

                    <span id="twitter" class="socialIcon">
                        <a href="" aria-label="twitter"><i class="fa-brands fa-square-twitter"></i></a>
                    </span>

                    <span id="fb" class="socialIcon">
                        <a href="" aria-label="facebook"><i class="fa-brands fa-square-facebook"></i></a>
                    </span>
                </p>
            </div>
        </footer>

        {% block javascripts %}
            <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
            <script src="https://kit.fontawesome.com/b28c0a82b5.js" crossorigin="anonymous"></script>
            <script src="{{ asset('app.js') }}"></script>
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </body>
</html>