{% extends 'base.html.twig' %}

{% block title %}Shopping cart{% endblock %}

{% block body %}
<main>
    <a href="{{ path('app_home') }}" class="returnBtn btn">
        <i class="fa-solid fa-arrow-left"></i> Continue shopping
    </a>

    <h1 style="margin-top: 50px;">Your shopping cart :</h1> 
    {% if app.session.get('cart') %}
        <table class="table">
            <thead>
                <tr>
                    <th>Item label</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr>
                        <td class="itemLabel">
                            {% if item.type == 'product' %}
                                <span><b>{{ item.product.label }}</b></span>
                            {% elseif item.type == 'build' %}
                                <span><b>{{ item.build.name }}</b></span>
                            {% endif %}
                        </td>

                        <td class="qtt">
                            {% if item.type == 'product' %}
                                <a href="{{ path('up_quantity', {'itemId': item.product.id}) }}"><button class="qttBtn"><i class="fa-solid fa-plus"></i></button></a>
                                    {{ item.qtt }}
                                <a href="{{ path('down_quantity', {'itemId': item.product.id}) }}"><button class="qttBtn"><i class="fa-solid fa-minus"></i></button></a>
                            {% elseif item.type == 'build' %}
                                <a href="{{ path('up_quantity', {'itemId': item.build.id}) }}"><button class="qttBtn"><i class="fa-solid fa-plus"></i></button></a>
                                    {{ item.qtt }}
                                <a href="{{ path('down_quantity', {'itemId': item.build.id}) }}"><button class="qttBtn"><i class="fa-solid fa-minus"></i></button></a>
                            {% endif %}

                        </td>

                        <td>
                            {% if item.type == 'product' %}
                                {{ item.product.price }}$
                            {% elseif item.type == 'build' %}
                                {{ item.build.total }}$
                            {% endif %}
                        </td>

                        <td>
                            {% if item.type == 'product' %}
                                <a href="{{ path('remove_item', {'itemId': item.product.id}) }}">
                                    <i class="fa-solid fa-trash"></i>
                                </a>
                            {% elseif item.type == 'build' %}
                                <a href="{{ path('remove_item', {'itemId': item.build.id}) }}">
                                    <i class="fa-solid fa-trash"></i>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                    {# {% else %}
                    <tr>
                        <td class="itemLabel">Err: Invalid object in cart</td>
                        <td class="qtt"><a href="{{ path('up_quantity', {'itemId': item.product.id}) }}"><button class="qttBtn"><i class="fa-solid fa-plus"></i></button></a>
                            {{ item.qtt }}
                        <a href="{{ path('down_quantity', {'itemId': item.product.id}) }}"><button class="qttBtn"><i class="fa-solid fa-minus"></i></button></a></td>
                        <td>Err: Invalid object in cart</td>
                        <td><a href="{{ path('remove_item', {'itemId': item.product.id}) }}"><i class="fa-solid fa-trash"></i></a></td>
                    </tr> #}
                {% endfor %}

            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2"><b>Total : </b></td>
                    <td>{{ total }}$</td>
                </tr>
            </tfoot>
        </table>
    {% else %}
        <div class="altSection">
            No items in shopping cart.
        </div>
    {% endif %}
    

    <div class="optGroupX">
        <a href="{{ path('flush_cart') }}" class="deleteBtnLarge btn">
            Empty out your cart <i class="fa-solid fa-trash"></i>
        </a>
        {% if app.user %}
            <a href="{{ path('new_order') }}" class="validateBtn btn">
                Proceed to order <i class="fa-solid fa-arrow-right"></i>
            </a>
        {% else %}
            <a href="{{ path('app_login') }}" class="validateBtn btn">
                Proceed to order <i class="fa-solid fa-arrow-right"></i>
            </a>
        {% endif %}
        
    </div>

</main>
{% endblock %}


{# <tr>
    <td id="itemLabel">{{ item.product.label }}</td>
    <td class="qtt"><a href="{{ path('up_quantity', {'itemId': key}) }}"><button class="qttBtn"><i class="fa-solid fa-plus"></i></button></a>
        {{ item.qtt }}
    <a href="{{ path('down_quantity', {'itemId': key}) }}"><button class="qttBtn"><i class="fa-solid fa-minus"></i></button></a></td>
    <td>{{ item.product.price }}$</td>
    <td><a href="{{ path('remove_item', {'itemId': key}) }}"><i class="fa-solid fa-trash"></i></a></td>
</tr> #}