{% extends 'base.html.twig' %}

{% block title %}Your profile{% endblock %}

{% block body %}
    <main>
        <h1>Profile information</h1>
        <div class="centerContainer">
            <section class="generalInfo">
                <h2>Account information</h2>
                <div>
                    <span>
                        {% if app.user.username %}
                            <b>Username : </b>{{ app.user.username }}
                            <a href="" class="btn">Change username</a>
                        {% else %}
                            <b>You do not have a username yet. </b>
                            <a href="" class="btn">Set a username</a>
                        {% endif %}
                    </span>

                    <span>
                        <b>Email : </b>{{ app.user.email }}
                        <a href="" class="btn">Change email</a>
                    </span>
                    
                    <span>
                        <b>Password : </b>
                        <a href="" class="btn">Change password</a>
                        <a href="" class="btn">Retrieve password</a>
                    </span>
                    
                </div>
            </section>

            <section class="history">
                <h2>Your builds</h2>
                {% for build in app.user.builds %}
                    <ul class="historyItem">
                        <li><h3>{{ build.name }}</h3></li>
                        <li class="optGroupX">
                            <a href="{{ path('edit_build', {'id': build.id}) }}" class="btn editBtn"><i class="fa-solid fa-pen-to-square"></i></a>
                            <a href="{{ path('delete_build', {'id': build.id}) }}" class="btn deleteBtn"><i class="fa-solid fa-trash"></i></a>
                        </li>
                        <li><b>Components : </b></li>
                            <a href="{{ path('show_build', {'buildId': build.id}) }}">
                                <ul class="itemContent">
                                {% for buildComponent in build.buildComponents %}
                                    <li><b>{{ buildComponent.component.category }} : </b>{{ buildComponent.component.label }} | <b>{{ buildComponent.component.price }}</b>$</li>
                                {% endfor %}
                                </ul>
                            </a>
                        <li><b>Total : </b>{{ build.total }}$</li>
                    </ul>
                    
                {% endfor %}
            </section>

            <section class="history">
                <h2>Order history</h2>
                    {% for order in app.user.orders %}
                        <ul class="historyItem">
                            <li><b>Ref ID : </b>{{ order.refId }}</li>
                            <li><b>Order date : </b>{{ order.orderDate|date('Y-m-d') }}</li>
                            <li><b>Last name : </b>{{ order.lastName }}</li>
                            <li><b>First name : </b>{{ order.firstName }}</li>
                            <li><b>Delivery adress : </b>{{ order.adress }}</li>
                            <li><b>Content : </b></li>
                                <ul class="itemContent">
                                {% for item in order.orderItems %}
                                    <li>
                                        {% if item.product %}
                                            {{ item.quantity }}x <b>{{ item.product.label }}</b>
                                        {% elseif item.build %}
                                            {{ item.quantity }}x <b>{{ item.build.name }}</b>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                                </ul>
                            <li><b>Total : </b>{{ order.total }}$</li>
                        </ul>
                    {% endfor %}
            </section>
        </div>
        <a href="{{ path('flush_cart') }}" class="deleteBtnLarge btn">
            Emegency cart flush <i class="fa-solid fa-trash"></i>
        </a>
    </main>
{% endblock %}